.header {
  position: relative;
  z-index: 2;
  &__container {
  }

  //sometest

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include adpv('gap', 1, 32, 14);
    padding: rem(12) 0px;
    transition: transform 0.3s ease 0s;
    @media (min-width: em(1426)) {
      transform: translate(rem(-56), 0px);
    }
  }
  &__logo {
    align-self: center;
    img {
      width: rem(192);
      @include adpv('width', 1, 192, 90);
    }
  }

  &__menu {
    flex: 1 1 auto;
  }
}
.menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(20);
  &__desktop-menu {
    flex: 0 1 rem(546);

    @media (max-width: $tablet) {
      flex: 1 1 auto;
      padding: 0px rem(20);
    }
  }

  &__body {
    flex: 1 0 rem(400);
    padding-top: rem(16);

    @media (max-width: $tablet) {
      position: fixed;
      width: 80%;
      height: 100%;
      overflow: auto;
      background-color: #a765fb;
      top: 0;
      left: 100%;
      z-index: 4;
      padding: 0px;
      transition: left 0.3s ease 0s;
      @media (max-width: em(540)) {
        width: 100%;
      }
      .menu-open & {
        left: 20%;

        @media (max-width: em(540)) {
          left: 0px;
        }
      }

      &::before {
        content: '';
        position: fixed;
        width: 80%;
        height: rem(70);
        background-color: #a765fb;
        top: 0;
        left: 100%;
        transition: all 0.3s ease 0s;
        @media (max-width: em(540)) {
          width: 100%;
        }
        .menu-open & {
          left: 20%;

          @media (max-width: em(540)) {
            left: 0px;
          }
        }
      }
    }
  }

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    @include adpv('gap', 1, 24, 16);
    row-gap: rem(18);

    @media (max-width: $tablet) {
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding: rem(100) rem(30) rem(40) rem(30);
    }
  }

  &__item {
  }

  &__link {
    font-weight: 500;
    font-size: rem(15);
    line-height: 120%;

    color: #1a191c;
    padding: rem(10) 0px;
    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #7f20f9;
      }
    }

    @media (max-width: $tablet) {
      font-size: rem(18);
      color: #ffffff;
    }
  }

  &__icon {
  }
}
.desktop-menu {
  &__inner {
    position: relative;
    z-index: 4;
  }
  &__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: rem(16);
    padding: rem(2) rem(2) rem(2) rem(2);
    background: #f7f7f7;
    border-radius: rem(40);

    @media (max-width: em(540)) {
      display: none;
    }
  }
  &__burger {
    display: flex;
    align-items: center;
    gap: rem(12);
    min-height: rem(44);
    padding: rem(10) rem(16) rem(10) rem(12);
    cursor: pointer;

    background: linear-gradient(0deg, #ffffff, #ffffff),
      linear-gradient(120.9deg, #2029f9 34.15%, #7f20f9 68.94%);
    border-radius: rem(42);

    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 4px 4px 8px 0px rgba(127, 32, 249, 0.2);
      }
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__burger-icon {
    pointer-events: none;

    display: block;
    position: relative;
    width: rem(20);
    height: rem(14);

    z-index: 5;
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background: linear-gradient(120.9deg, #2029f9 34.15%, #7f20f9 68.94%);
      border-radius: rem(2);
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
  }

  &__burger-text {
    pointer-events: none;
    font-weight: 500;
    font-size: rem(15);
    line-height: 100%;
  }

  &__form {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    @media (max-width: em(540)) {
      padding: rem(0) rem(0);

      background: #f7f7f7;
      border-radius: rem(40);
      gap: rem(10);

      position: fixed;
      top: -100%;
      left: rem(15);
      width: calc(100% - rem(95));

      transition: top 0.3s ease 0s;
    }

    .menu-open & {
      @media (max-width: em(540)) {
        top: rem(12);
      }
    }
  }

  &__input {
    flex: 1 1 auto;
    height: rem(40);
    background: #f7f7f7;
    font-size: rem(16);
    line-height: 150%;
    width: rem(150);
    &::placeholder {
      color: #726f85;
    }

    &:focus {
      outline: none;
    }
    @media (max-width: $tablet) {
      padding-left: rem(12);
    }
    @media (max-width: em(540)) {
      border-radius: rem(40);
    }
  }

  &__search-button {
    min-height: rem(44);
    min-width: rem(44);
    background: linear-gradient(0deg, #ffffff, #ffffff);
    border-radius: rem(42);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 4px 4px 8px 0px rgba(127, 32, 249, 0.2);
      }
    }
  }

  &__modal-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0px;
    left: 0px;
    transition: all 0.2s ease 0s;
    z-index: 4;
    &._active {
      top: calc(100% + rem(10));
      visibility: visible;
      opacity: 1;
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__list {
    padding: rem(16) rem(12);
    border-radius: rem(10);
    display: grid;
    gap: rem(10);
    @media (min-width: $tablet) {
      background-color: #ffffff;
      box-shadow: 4px 4px 8px 0px rgba(127, 32, 249, 0.2);
    }

    @media (max-width: $tablet) {
      display: flex;

      @include adpv('gap', 1, 24, 16);
      row-gap: rem(18);

      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding: rem(0) rem(30);
      padding-bottom: rem(30);
    }
  }

  &__item {
  }

  &__link {
    display: block;
    padding: rem(5) 0px;
    font-size: rem(16);
    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #7f20f9;
      }
    }

    @media (max-width: $tablet) {
      font-size: rem(18);
      color: #ffffff;
      font-weight: 500;
    }
  }
}

//Burger

.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    align-self: center;
    display: block;
    position: relative;
    flex: 0 0 rem(34);
    width: rem(34);
    height: rem(24);
    padding: rem(10);
    background-color: #f7f7f7;
    border-radius: rem(6);
    box-sizing: content-box;
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 50%;
      position: absolute;
      width: calc(100% - rem(20));
      height: rem(2);
      background: linear-gradient(120.9deg, #2029f9 34.15%, #7f20f9 68.94%);
      border-radius: rem(2);
      transform: translate(50%, 0px);
    }
    &::before {
      top: rem(10);
    }
    &::after {
      bottom: rem(10);
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: translate(50%, 0px) rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: translate(50%, 0px) rotate(45deg);
      }
    }
  }
}
